.idg-modal {
	z-index: 100;
	position: relative;
	margin: 1.75rem auto;
	border-radius: 3px;
	max-width: 700px;
	padding: 2rem;
	background-color: $white;

	&__header {
		display: flex;
		justify-content: flex-end;
	}

	&__close-button {
		font-size: 1.4rem;
		font-weight: 700;
		line-height: 1;
		color: $black;
		opacity: 0.3;
		cursor: pointer;
		border: none;
	}

	&__overlay {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 1040;
		width: 100vw;
		height: 100vh;
		background-color: rgba(195, 192, 192, 0.8);
		opacity: 0.5;
	}

	&__wrapper {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1050;
		width: 100%;
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
		outline: 0;
	}
	&--fadeIn {
		transition: transform 0.5s ease, opacity 0.5s ease;
		opacity: 1;
		transform: translateY(0);
	}
	&--fadeOut {
		transition: opacity 0.5s ease, transform 0.5s ease;
		opacity: 0;
		transform: translateY(100px);
	}
}
